
<div class="mybody text-center">
  <div class="form-signin w-100 m-auto">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <img class="mb-4" src="assets/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="email"
        [ngClass]="email?.invalid && (email?.dirty || email?.touched) ? 'is-invalid' : 'is-valid'"
        formControlName="email" required class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
        [ngClass]="password?.invalid && (password?.dirty || password?.touched) ? 'is-invalid' : 'is-valid'"
        type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" [disabled]="!loginForm.valid" type="submit">Sign in</button>
    </form>
  </div>

</div>

